body {
    background: #1a1a2e;
    color: #222;
    margin: 0;
    padding: 20px;
}
.cadre {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 3rem;
    background: #2a2a3d;
    border-radius: 5px;
    box-shadow: 0 0 5px #bbb;
    box-sizing: border-box;
}
.errNumber{ 
    font-size: 10rem;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    
}
.errMEssage{
     font-size: 4rem;
    /* display: auto;  */
    /* align-items: center; */
    font-weight: 900;
    color: #4ecdc4;
    text-align: center;
}
@media (max-width: 768px) {
    .cadre {
        padding: 1rem;
        margin: 1px;
    }

    .errNumber {
        font-size: 5rem;
    }

    .errMEssage {
        font-size: 2rem;
    }
}
